/* stylesheets for the Landing Page */

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
h1 {
  font-family: 'Pacifico', cursive;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  background-color: #f1c40f;
  border-radius: 1px;
  color: black;
}
.slides {
  max-width: 1200px;
  margin: 0 auto;
  background-color: black;
}
.primary {
  margin-left: 550px;
  margin-top: 40px;
  font-family: 'Raleway', sans-serif;
  height: 40px;
  width: 200px;
  border-radius: 4px solid black;
  background: black;
  color: #ecf0f1;
  font-size: 20px;
}